:root {
  font-family: sans-serif;
  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;
}

#root {
  min-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}
